.card {
  border: none;
}

.card-rt {
  background: white;
  padding: .5rem .75rem;
  border-radius: 12px;
  font-family: 'Open Sans' sans-serif;
  .font-weight-medium {
    font-weight: 500;
  }
  color: #1f1f1f !important;
}