.card {
  border: none;
}

.card-rt {
  background: white;
  padding: .5rem .75rem;
  margin: 0;
  border-radius: 12px;
  font-family: 'Open Sans' sans-serif;
  .text-primary {
    color: #6a43f9 !important;
  }
  .font-weight-medium {
    font-weight: 500;
  }
}