@import "app/argon.scss";
@import "app/navbar.scss";
@import "app/cards.scss";
@import "app/shadows.scss";
@import "app/home.scss";

.info {
  margin-bottom: 15px;
  .key {
    color: #00000085;
    display: block;
    line-height: 1em;
  }
  .value {
    font-size: 1.3em;
    display: block;
  }
}
