@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import "app/argon.scss";
@import "app/navbar.scss";
@import "app/cards.scss";
@import "app/shadows.scss";
@import "app/home.scss";
.info {
  margin-bottom: 15px;
  .key {
    color: #00000085;
    display: block;
    line-height: 1em;
  }
  .value {
    font-size: 1.3em;
    display: block;
  }
}
.text-primary {
  color: #6a43f9 !important;
}
.section-rt {
  background: #d7ccff;
  height: 100vh;
}
.form-control {
  color: black;
  font-size: 1rem;
  &:focus {
  }
}
.custom-file {
  &-label {
    font-size: 1rem;
    &,
    &:focus {
    }
    &:after {
      background: #9c8eff;
      color: #fff;
      padding: 0.65rem 2.2rem;
    }
  }
}
.btn-rt {
  border-radius: 4px;
  &, &.semantic {
    padding: 0.75rem 2.5rem;
  }
  &.btn-primary, &.primary {
    color: white;
    background: #6a43f9 !important;
  }
  &.success {
    color: white;
    background: #00ff9d !important;
  }
}

.rt-bar {
  height: 6px;
  width: 200px;
  background: #666;
  border-radius: 10rem;
  &.primary {
    background: #6a43f9;
  }
}

.rt-subtitle {
  font-size: 1.25rem;
  color: #111;
}

.rt-title {
  display: flex;
  align-items: flex-end;
  &-logo {
    flex: 0 0 10%;
    margin-right: .75rem;
    img {
      height: 100px;
    }
  }
  &-text {
    flex: 0 0 90%;
    font-weight: 600;
    color: #6a43f9;
    font-size: 2rem;
    text-transform: capitalize;
    line-height: 1;
  }
}
.rt-gray {
  background: #e5e5e5;
}
